<div class="experience-section">
    <h2>Experience</h2>
    <div class="experience-item">
        <h3>Freelance Developer</h3>
        <p><strong>Location:</strong> Denizli, Turkey</p>
        <p><strong>Duration:</strong> November 2023 - Present</p>
        <p>Developed custom solutions tailored to client needs, including my own venture, Lingol. Utilized the latest technologies to create high-performance systems.</p>
    </div>
    <div class="experience-item">
        <h3>Java Backend Developer</h3>
        <p><strong>Company:</strong> Aselsis A.Ş.</p>
        <p><strong>Location:</strong> On-site</p>
        <p><strong>Duration:</strong> January 2021 - November 2023</p>
        <p>Played an active role in numerous large projects from inception to delivery. Specialized in Java backend development and image processing, focusing on backend architecture, API development, database management, and performance optimization.</p>
    </div>
</div>