<div class="skills-section">
    <h2>Skills</h2>
    <ul>
        <li><strong>Programming Languages:</strong> Java, JavaScript, Dart, Python</li>
        <li><strong>Frameworks:</strong> Spring Boot, JavaEE, JavaSE, Hibernate ORM, Flutter, React, JavaFX</li>
    <li><strong>Architectures:</strong> Design Pattern, Layered Architecture</li>
        <li><strong>Databases:</strong> PostgreSQL, MongoDB, Elasticsearch, MySQL</li>
        <li><strong>Web Service Standards:</strong> Rest-Restful, RSocket</li>
        <li><strong>Testing:</strong> Junit, Mockito, Rest Assured, JMeter</li>
        <li><strong>Message Queues:</strong> Kafka, RabbitMQ</li>
        <li><strong>Cache:</strong> Redis, Caffeine</li>
        <li><strong>Libraries:</strong> Lombok, MapStruct, Springdoc-Openapi, Thymeleaf, Apache Commons, MQTT, OpenCV, Zxing</li>
        <li><strong>Developer Tools:</strong> Git, Maven, Jira, Docker, Observability (Grafana, Loki, Tempo, Prometheus)</li>
    </ul>
</div>