<h2>About Me</h2>
<p>
    I am a versatile Software Developer specializing in backend technologies, particularly in Java and Spring Boot. With over 4 years of experience in developing scalable and robust solutions using microservice architecture, I have proven my skills in both mobile (Flutter) and frontend (React) development by managing the entire process of my own venture, the Lingol project. My experience in image processing and machine learning allows me to demonstrate innovative approaches to solving complex problems.
</p>

<h3>Professional Summary</h3>
<ul>
    <li>Expertise in Java and Spring Boot for backend development.</li>
    <li>Experience in microservice architecture for scalable solutions.</li>
    <li>Proficient in mobile development using Flutter and frontend development with React.</li>
    <li>Strong background in image processing and machine learning.</li>
</ul>

<h3>Contact Information</h3>
<p>
    <strong>Mobile:</strong> (+90) 5466815952<br>
    <strong>Email:</strong> <a href="mailto:hudaiapa88@gmail.com">hudaiapa88@gmail.com</a><br>
    <strong>LinkedIn:</strong> <a href="https://linkedin.com/in/hudaiapa">linkedin.com/in/hudaiapa</a><br>
    <strong>GitHub:</strong> <a href="https://github.com/hudaiapa88">github.com/hudaiapa88</a>
</p>