<div>
  <h2>Yetenekler</h2>
  <ul>
  <li><strong>Programlama Dilleri:</strong> Java, JavaScript, Dart, Python</li>
  <li><strong>Frameworkler:</strong> Spring Boot, JavaEE, JavaSE, Hibernate ORM, Flutter, React, JavaFX</li>
  <li><strong>Mimariler:</strong> Design Pattern, Katmanlı Mimari</li>
  <li><strong>Veritabanı:</strong> PostgreSQL, MongoDB, Elasticsearch, MySQL</li>
  <li><strong>Web Servisleri:</strong> REST, RSocket</li>
  <li><strong>Test:</strong> JUnit, Mockito, Rest Assured, JMeter</li>
  <li><strong>Mesaj Kuyruğu:</strong> Kafka, RabbitMQ</li>
  <li><strong>Önbellek:</strong> Redis, Caffeine</li>
  <li><strong>Kütüphaneler:</strong> Lombok, MapStruct, springdoc-openapi, Thymeleaf, Apache Commons, MQTT, OpenCV, ZXing</li>
  <li><strong>Geliştirici Araçları:</strong> Git, Maven, Jira, Docker, Observability (Grafana, Loki, Tempo, Prometheus)</li>
  </ul>
</div>
