<div>
  <h2>Skills</h2>
  <ul>
    <li><strong>Languages:</strong> Java, JavaScript, Dart, Python</li>
    <li><strong>Frameworks:</strong> Spring Boot, JavaEE, JavaSE, Hibernate ORM, Flutter, React, JavaFX</li>
  <li><strong>Architectures:</strong> Design Patterns, Layered</li>
    <li><strong>Databases:</strong> PostgreSQL, MongoDB, Elasticsearch, MySQL</li>
    <li><strong>Services:</strong> REST, RSocket</li>
    <li><strong>Testing:</strong> JUnit, Mockito, Rest Assured, JMeter</li>
    <li><strong>Messaging:</strong> Kafka, RabbitMQ</li>
    <li><strong>Cache:</strong> Redis, Caffeine</li>
    <li><strong>Libraries:</strong> Lombok, MapStruct, Springdoc, Thymeleaf, Apache Commons, MQTT, OpenCV, Zxing</li>
    <li><strong>Tools:</strong> Git, Maven, Jira, Docker, Grafana Stack</li>
  </ul>
</div>
